.footer {
	padding: 20px 0 0;
	
	.wrapper {
		padding-left: 30px;
		text-align: justify;

		&:after {
			content: '';
			width: 100%;
			display: inline-block;
			height: 0;
			line-height: 0;
			visibility: hidden;
			margin-top: -20px;
			position: relative;
			top: -20px;
		}
	}

	&__logo {
		display: inline-block;
		vertical-align: middle;

		@media ($phones) {
			display: block;
			margin-bottom: 15px;
			text-align: center;
		}
	}

	&__phone {
		display: inline-block;
		vertical-align: middle;
		font-family: $epm;
		font-size: 35px;

		@media ($phones) {
			display: block;
			margin-bottom: 15px;
			text-align: center;
			font-size: 25px;
		}
	}

	.button {
		border: 1px solid #000;
		color: #000;
		font-size: 18px;
		height: 45px;
		padding: 0 23px;

		@media ($phones) {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
}