.offer_form {
	@extend .order_form;
	padding-top: 35px;
	padding-bottom: 15px;

	@media ($tablets) {
		padding-bottom: 40px;
	}

	.wrapper {
		@extend %clearfix;
	}

	.image_block {
		width: 197px;
		height: 197px;
		float: left;
		margin-left: -15px;

		@media ($tablets) {
			float: none;
			display: inline-block;
			margin: 0;
		}
	}

	.text_block {
		width: calc(100% - 200px);
		float: right;
		@extend %clearfix;

		@media ($tablets) {
			width: 100%;
		}

		.main_text,
		.second_text {
			width: 50%;
			float: left;
		}

		.main_text {
			text-align: left;
			margin-bottom: 22px;

			@media ($tablets) {
				width: 60%;
			}

			@media ($phones) {
				width: 100%;
				float: none;
				text-align: center;
			}

			small {
				font-family: $osb;
				font-size: 15px;
				color: #fff;
				text-transform: uppercase;
				display: block;
			}

			strong {
				font-family: $oseb;
				font-size: 55px;
				line-height: 25px;
				color: $orange;
				display: inline-block;
				vertical-align: middle;
  				text-shadow: 2px 3.464px 10px rgba( 61, 30, 91, 0.2);
  				@media ($phones) {
					line-height: normal;
				}
			}

			p {
				display: inline-block;
				vertical-align: middle;
				font-family: $osb;
				font-size: 20px;
				padding-left: 10px;
				color: #fff;
				text-shadow: 2px 3.464px 10px rgba( 61, 30, 91, 0.2);
				text-transform: uppercase;

				span {
					color: $orange;
				}
			}
		}

		.second_text {
			@media ($tablets) {
				width: 40%;
			}
			@media ($phones) {
				width: 100%;
				float: none;
			}

			p {
				text-align: left;
				color: #fff;
				padding-left: 30px;
				font-size: 14px;
				line-height: 25px;
				margin-top: 20px;
				margin-bottom: 22px;

				@media ($tablets) {
					br {
						display: none;
					}
				}
				@media ($phones) {
					text-align: center;
					padding-left: 0;
				}
			}
		}

		form {
			width: 100%;
		}
	}
}