.sertificates {
	padding: 50px 0 55px;

	.wrapper {
		@extend %clearfix;
	}

	.col {
		
		width: 50%;
		float: left;

		@media ($tablets) {
			width: 100%;
		}
	}

	h2 {
		text-align: left;

		@media ($tablets) {
			text-align: center;
		}
	}

	&__box {
		@extend %clearfix;
		margin-top: 40px;

		@media ($tablets) {
			margin-bottom: 50px;
		}

		.item {
			width: 50%;
			float: left;
			height: 355px;
			background-image: url(../images/border.jpg);
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			padding-top: 86px;
			padding-right: 9px;

			@media ($tablets) {
				padding: 10px;
				border: 15px solid #fff;
				background-color: #EBEBEB;
				background-image: none;
				width: auto;
				height: auto;
				float: none;
				display: inline-block;
				-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
				box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
				margin: 0 20px;
			}

			@media (max-width: 500px) {
				display: inline-block;
				margin: 0 30px 25px;
			}
		}
	}

	&__feature {
		padding-left: 95px;
		position: relative;
		text-align: left;

		@media ($tablets) {
			text-align: center;
			padding-left: 0;
			padding: 0 100px;
		}

		@media ($phones) {
			padding: 0;
		}

		&:before {
			content: '';
			width: 55px;
			height: 76px;
			background-position: 50% 0;
			background-repeat: no-repeat;
			background-size: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 20px;

			@media ($tablets) {
				position: static;
				display: inline-block;
			}
		}
		
		&.garanty {
			padding-bottom: 65px;
			margin-bottom: 65px;

			@media ($tablets) {
				padding-bottom: 0;
				margin-bottom: 50px;
			}
		}
		&.garanty:before {
			background-image: url(../images/garanty.jpg);
		}

		&.service:before {
			background-image: url(../images/service.jpg);
		}
	
		h3 {
			font-size: 20px;
			margin-bottom: 10px;
		}
		p {
			line-height: 24px;

			@media ($tablets) {
				text-align: left;
			}
		}

		ul {
			margin: 0;
			font-size: 14px;
			line-height: 24px;

			@media ($tablets) {
				text-align: left;
			}
		}

		.important {
			width: 425px;
			border: 1px dashed #E6E6E6;
			padding: 6px 35px 6px 90px;
			border-radius: 3px;
			position: absolute;
			bottom: 0;
			right: 30px;
			background-image: url(../images/exclamation.jpg);
			background-size: 26px;
			background-repeat: no-repeat;
			background-position: 43px 50%;

			@media ($tablets) {
				width: 100%;
				position: static;
				margin-top: 20px;
				padding: 15px 35px 15px 90px;
			}
			@media ($phones) {
				padding: 15px 15px 15px 70px;
				background-position: 23px 50%;
			}

			&:after {
				content: '';
				width: 14px;
				height: 14px;
				border-top: 1px dashed #E6E6E6;
				border-right: 1px dashed #E6E6E6;
				background-color: #fff;
				position: absolute;
				top: -10px;
				margin-left: -10px;
				left: 50%;
				@include transform(rotate(-45deg));

				@media ($tablets) {
					display: none;
				}
			}

			p {
				font-size: 12px;
				font-family: $osb;
				color: #8e8e8e;
				line-height: normal;
			}
		}
	}
}

ul{
	li {
		padding-left: 20px;
		list-style: none;
		position: relative;

		&:before {
			content: '';
			width: 5px;
			height: 9px;
			border-bottom: 2px solid $green;
			border-right: 2px solid $green;
			@include transform(rotate(45deg));
			position: absolute;
			left: 2px;
			top: 5px;
		}
	}
}