// COLORS
// ---------------------------
$velvet:	 #7F5D92;
$green: 	 #67BD2E;
$orange: 	 #FFCC3E;

// FONTS
// ---------------------------
$os:      	'open_sansregular';
$osb:     	'open_sansbold';
$oseb:    	'open_sansextrabold';
$ossb: 	  	'open_sanssemibold';

$epm: 		'espuma_promedium';



// RESPONSIVE
// ---------------------------
$tablets: 	'max-width: 1000px';
$phones:  	'max-width: 750px';



// TYPOGRAPHIC
// ---------------------------
html, body                    	{   height: 100%; font-family: $os;}
p                             	{   font-size: 14px;}
h1 								{ 	font-family: $oseb;}
h2, h3, h4, h5          		{   font-family: $ossb; font-weight: normal;}

h2 								{	font-size: 38px; text-transform: none;}
h2+small 						{ 	font-size: 15px;}

.white {
	color: #FFF;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 990px;
	margin: 0 auto;
    text-align: center;

	@media ($tablets) {
		width: 100%;
		padding: 0 15px;
	}    
}
