@import 'reset';
@import 'slick';
@import 'slick-theme';
@import 'magnific-popup';
@import 'fonts';
@import 'settings';
@import 'buttons';
@import 'mixins';



/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/
section {
    padding: 60px 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font: 40px $oseb;
  text-shadow: 0px 0px 13px rgb( 0, 0, 0 );
  color: #FFF;
  .subtitle {
  }
  @include m500 {
      font-size: 36px;
  }
  @include m360 {
      font-size: 28px;
  }
}
h2 {
  color: #000;
  display: block;
}
.main-page h2 {
  width: 100%;
  text-align: center;
  padding: 0 20%;
}
p {;}
a {
  text-decoration: underline;
  @include transition(all, .2s);
  &:hover {
      text-decoration: underline;
  }
}


/*---------------------- 
    HEADER STYLES
------------------------*/
body > .wrapper {position: relative;}
header {
    margin: 0;
    width: 780px;
    color: #fff;
    @include position(absolute, 0, 0, auto, auto);
    z-index: 100;
    padding-top: 20px;
    @include transition(all, .4s);
    @include flex($alignI: center, $justify: space-between);

    @include m1000 {
         @include position(fixed, 0, auto, auto, -100%);
         width: 260px !important;
         height: 100%;
         text-align: center;
         background-color: rgba(0,0,0, .9);
         margin-top: 0;
         padding: 20px 0;
         z-index: 100;
         
         &.active {left: 0;}
         
        @include flexDirection(column);
        -webkit-justify-content: space-around;
                justify-content: space-around;
    }

    .header__info {
        a {
            display: block;
        }
    }
    .tel {
        color: #fff;
        font: 20px $epm;
        text-shadow: 1.5px 2.598px 13px rgb( 0, 0, 0 );
    }
    .button {
        background: transparent !important;
        border: 1px solid #fff;
        color: #fff;
        font: 15px $epm;
        width: 155px;
        height: 40px;
        margin-top: 5px;
        text-shadow: 1.5px 2.598px 13px rgb( 0, 0, 0 );
        -webkit-border-radius: 4px;
                border-radius: 4px;
    }
}

.tel,
.mail,
.timeOfWork {
    color: #FFF;
}

.logo {
    @include position(absolute, 0px, auto, auto, 0);
    display: block;
    width: 200px;
    img {
        width: 100%;
    }
}


/*-------- nav ---------*/
nav ul {
        @include flex();
        list-style-type: none;
        li {
            padding-left: 0px;
            &:before {display: none;}
        }
        &  a {
            display: inline-block;
            margin-right: 21px;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            @include transition(all, .2s);
            font: 13px $ossb;
            color: #FFF;
            padding-bottom: 4px;
             text-shadow: 1.5px 2.598px 13px rgb( 0, 0, 0 );
                
            &:hover {border-bottom: 2px solid $green; text-decoration: none;}
        }


      @include m1000 { 
          display: block;
          width: 100%;
          overflow: scroll;
          position: relative;
          li a                    {   
                margin: 0 0 25px 0;
                &.active {color: $orange;}
                &:hover  {background: transparent;}
          } 
      }
}




/* ------- menu toggle --------- */
.menu-button  {    
            display: none;
            width: 50px;
            height: 50px;
            @include position(fixed, 15px, 15px, auto, auto);
            margin: auto; 
            cursor: pointer;
            z-index: 100;
            background-color: $green;
            border: none;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
    .menu-line                    {
              display: block;
              @include position(absolute, auto, 0, auto, 0);
              width: 60%;
              height: 5px;
              background-color: #fff;
              -webkit-border-radius: 1px;
              border-radius: 1px;
              @include transition(all, .4s);
      }

      .top_line                     {   top: 12px;  margin: auto;}
      .middle_line                  {   top: 22px;  margin: auto;}
      .bottom_line                  {   bottom: 12px; margin: auto;}

      &.active                      {   -webkit-border-radius: 6px; border-radius: 6px;}
      &.active .top_line            {   @include transform(rotate(45deg)); top: 45%;}
      &.active .bottom_line         {   @include transform(rotate(-45deg)); bottom: 45%;}
      &.active .middle_line         {   width: 0; left: 50%;}

      @include m1000 {
            display: block;
      }
      @include m360 {
          right: 7px;
          top: 7px;
      }

}




/*---------------------- 
    OFFER STYLES
------------------------*/
.offer {
    height: 650px;
    padding: 110px 0 230px;
    background: url('../images/law.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    background-color: #000;
    @include m1000 {
        padding-top: 0;
        h1 {width: 85%;}
    }
    @include m800 {
        height: auto;
        padding-top: 60px;
    }

    .offerInfo {
        height: 100%;
        @include flex($alignI: center, $justify: space-around, $direction: column);
        z-index: 2;
        position: relative;
        text-align: center;
        .infoBlocks {margin-top: -65px;}
        .infoBlock {
            padding: 0;
            width: 15% !important;
            p {text-shadow: 1.5px 2.598px 13px rgb( 0, 0, 0 );}
            &:nth-of-type(3) p,
            &:nth-of-type(4) p {
                width: 132%;
            }
        }
        @include m1000 {
            .infoBlocks {
            width: 100%;
            margin-top: 10px;
            -webkit-justify-content: center;
                    justify-content: center;
            }
            .infoBlock {
                width: 27% !important;
                padding: 0 4px;
                &:nth-of-type(3) p,
                &:nth-of-type(4) p {
                    width: 100%;
                }
            }
        }
        @include m500 {
            .infoBlock {width: 50%!important;
                p {
                    font-size: 14px;
                }
            }
        }
         @include m360 {
           .infoBlock p {font-size: 13px; line-height: normal;}  
         }
    }

    .order_form {
        @include position(absolute, auto, 0, 0, 0);
        padding: 24px 0;
        background-color: rgba(0,0,0, .65);
        em,
        p {display: inline-block; vertical-align: bottom; text-align: left;}
        em {
            text-transform: uppercase;
            font: 15px $osb;
            width: 40%;
            margin-left: -6px;
            color: #FFF;
            strong {
                font: 50px $oseb;
                line-height: 1;
                color: $orange;
            }
        }
        p {
            font: 14px $os;
            width: 60%;
            color: #FFF;
            margin-right: -6px;
        }
        @include m1000 {
            padding: 10px 0;
           em {
            font: 13px $osb;
            strong {
                font-size: 36px;
            }
            }
            p {
                font: 13px $os;
                padding-left: 5px;
            } 
        }
    }

}


/*---------------------- 
    INFOBLOCKS STYLES
------------------------*/
.infoBlocks {
      @include flex($alignI: top, $justify: space-between, $wrap: wrap);
      
      .infoBlock  {
                  padding: 0 20px;
                  text-align: center;
            &_icon {
                        width: 600px;
                        height: 60px;
                        text-align: center;
                        margin: 0px auto 10px;
            }
            p {
                font: 15px $os;
                color: #FFF;
            }
        }

    &.--two  .infoBlock   {    width: 50%;}
    &.three .infoBlock    {    width: 33%;}
    &.five .infoBlock     {    width: 20%;}
}

/*---------------------- 
    ABOUT STYLES
------------------------*/
.about {
    padding: 60px 0;
    .wrapper {
        overflow: visible;
    }
    .infoBlocks {
        .infoBlock {
            width: 31%;
            background-color: $velvet;
            color: #FFF;
            padding: 25px 20px;
            box-shadow: 5.035px 6.217px 6px 0px rgba( 0, 0, 0, .2 );
            -webkit-border-radius: 5px;
                    border-radius: 5px;
            h3 {
                font: 18px $osb;
                &:after {
                    content: "";
                    display: block;
                    margin: 10px auto;
                    width: 70px;
                    border-top: 1px solid #fff;
                }
            }
            p {
                line-height: 22px;
            }
        }
        @include m1000 { 
            .infoBlock{
                width: 32%;
                p {
                    font-size: 13px;
                    line-height: 18px;
                }
            }
        }
        @include m700 { 
            .infoBlock{
                padding: 15px 10px;
            }
        }
        @include m600 { 
            -webkit-justify-content: center;
                    justify-content: center;
            .infoBlock{
               width: 300px;
               margin-bottom: 10px;
               padding: 25px;
               p {
                   font-size: 14px;
               }
            }
        }
    }
    &__numbers {
        margin-top: 60px;
        &__item {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            margin: 0 11px;
            span {
                font: 40px/1 $os;
                display: block; text-align: center;
                margin: 24px auto;
            }
        }
        @include m1000 { 
            &__item {
                width: 28%;
                margin: 0;
                padding: 0 5px;
                margin-bottom: 10px;
            }
        }
        @include m700 { 
            &__item {
                width: 45%;
            }
        }
        @include m500 { 
            &__item {
                width: 100%;
            }
        }
    }
}



/*---------------------- 
    TABS STYLES
------------------------*/

.services {
    background-color: #F1F3F5;
    padding-top: 0px;
    &__head {
        background-color: #343C41;
        height: 180px;
        padding: 40px 0 55px;
    }
    &__tabs {
        margin-top: -55px;
        form {
            background-color: #7F5D92;
            -webkit-border-bottom-left-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-top: -10px;
            padding: 35px 30px;
            text-align: left;
            box-shadow: 0px 26px 39px 4px rgba( 0, 0, 0, .2 );
            .input {
                width: 32%;
height: 50px;
display: inline-block;
            }
            .input {
                width: 35%;
                margin-right: 16px;
            }
            h3 {
                font: 30px $ossb;
                color: #FFF;
                margin-bottom: 6px;
                color: #FFF;
            }
            small {
                display: block;
                margin-bottom: 25px;
                font: 15px $os;
                color: #FFF;
            }
            button {
                width: 24%;
                margin-left: 5px;
            }
        }
        @include m800 {
            margin-top: 10px;
        }
    }
}



.tabs {
    z-index: 2;
    position: relative;
    ul.ui-tabs-nav {
        @include flex($alignI: bottom, $justify: space-between, $wrap: wrap);
        margin: 0;
        li {
            height: 55px;
            padding: 0;
            text-align: center;
            width: 20%;
            @include transition(all, .1s);
            -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            &:before {
                display: none;
            }
            &.ui-state-active {
                background-color: #FFF;
                a {color: #000;}
                &:hover {
                    background-color: #FFF;
                    a {color: #000;}
                }
            }
            &:hover {
                background-color: rgba(255,255,255, .1);
            }
            a {
                color: #FFF;
                text-decoration: none;
                font: 14px/55px $osb;
                display: inline-block;
                height: 100%;
                width: 100%;
                @include m1000 { 
                    font-size: 13px;
                }
            }
            @include m800 { 
                width: 48%;
                background: #fff !important;
                margin-bottom: 10px;
                -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
                        box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
                -webkit-border-radius: 3px;
                        border-radius: 3px;
                a {
                    color: #000;
                }
            }
            @include m600 {
                width: 100%;
            }
        }
        @include m800 {
            background-color: transprent;  
            -webkit-justify-content: space-around;
                    justify-content: space-around;
            li a {font-size: 15px;}
            li.ui-state-active {
                background-color: $velvet!important;
                a {
                    color: #FFF;
                }
            }
        }
    }
    .tab {
        background-color: #fff;
        padding: 20px 30px;
        text-align: left;
        -webkit-border-bottom-left-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0px 26px 39px 4px rgba( 0, 0, 0, .2 );
        @include m600 {
            padding: 15px 20px;
        }
        h3 {
            font: 18px $ossb;
            color: #000;
            margin-bottom: 20px;
            @include m600 {
               font-size: 16px;
            }
        }
        ul {
            margin-bottom: 20px;
            counter-reset: list;
            li {
                padding-left: 40px;
                margin-bottom: 25px;
                @include m600 {
                   margin-bottom: 15px;
                   font-size:  14px;
                }
            }
            li:before {
                counter-increment: list;
                content: counter(list);
                border: none;
                width: 24px; height: 24px;
                background-color: $green;
                color: #FFF;
                font: 14px/23px $osb;
                text-align: center;
                top: 0;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                -webkit-transform: none;
                   -moz-transform: none;
                    -ms-transform: none;
                     -o-transform: none;
                        transform: none;
            }
        }
        p {
            line-height: 24px;
            @include m600 {
               line-height: 20px;
            }
        }
    }
}


.projects {
    padding: 60px 0;
    .tabs {
        margin-top: 25px;
        ul.ui-tabs-nav {
            margin-bottom: 40px;
            li {
                background-color: #F1F1F1;
                width: 19%;
                -webkit-border-radius: 3px;
                        border-radius: 3px;
                &.ui-state-active {
                    background-color: $green;
                    a {
                        color: #fff;
                    }
                    &:hover {
                        background-color: $green;
                        a {
                            color: #fff;
                        }
                    }
                }
                &:hover {
                    background-color: #DBDBDB;
                }
                a {
                    color: #000;
                }
                @include m800 { 
                width: 48%;
                background: #F1F1F1 !important;
                -webkit-box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
                        box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
                -webkit-border-radius: 3px;
                margin-bottom: 10px;
                        border-radius: 3px;
                }
                @include m600 {
                    width: 100%;
                }
            }
            @include m800 {
                background-color: transparent;  
                -webkit-justify-content: space-around;
                        justify-content: space-around;
                li.ui-state-active {
                    background-color: $green !important;;
                }
            }
        }
        .tab {
            padding: 0;
            -webkit-box-shadow: none;
                    box-shadow: none;
            &__img,
            &__info {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                margin-right: -3px;
            }
            &__info {
                padding-left: 35px;
                h3 {
                    font: 18px/24px $osb;
                }
                ul {
                    li {
                        margin-bottom: 20px;
                    }
                }
            }
            &__img {
                border: 2px solid #7F5D92;
                padding: 4px;
                img {
                    width: 100%;
                }
            }
        }
    } 
}


.whatOffer {
    h2 {
        margin-bottom: 45px;
    }
    .wrapper {
        @extend %clearfix;
    }
    .whatOffer__item {
        float: left;
        width: 50%;
        margin-bottom: 35px;
        &__icon {
            width: 72px;
            height: 72px;
            display: inline-block;
            vertical-align: top;
            margin-right: 18px;
            background-color: #7F5D92;
            @include m1000 {
               margin-right: 10px;
            }
        }
        &__info {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 100px);
            padding-right: 60px;
            -ms-text-align-last: left;
                text-align-last: left;
            @include m1000 {
               padding-right: 20px;
            }
            ul,p, h4 {
                text-align: left;
            }
            h4 {
                font: 18px $osb;
                margin-bottom: 5px;
            }
            p {
                font: 14px/24px $os;
                @include m360 {
                   font: 13px/20px $os;
                }
            }
            ul {
                margin: 0;
            }
            li {
                font: 14px/24px $os;
                @include m360 {
                   font: 13px/20px $os;
                }
            }
        }
        @include m700 {
           width: 70%;
           float: none;
           display: block;
           margin: 10px auto 30px;
        }
        @include m500 {
           width: 310px;
        }
    }
    & + .offer_form {padding: 60px 0;}
}

/*------------------------*/
@import 'advantages';
@import 'start-steps';
@import 'sertificates';
@import 'order-form';
@import 'offer-form';
@import 'clients';
@import 'map';
@import 'footer';